.el-pagination.is-background button,
.el-pagination.is-background li {
  width: 28px;
  height: 28px;
  background: #fff;
  color: #707d96 !important;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.05);
  border-radius: 50% !important;
}

.el-pagination.is-background .el-pager li:not(.disabled).active {
  background-color: #1378ff;
  color: #fff !important;
}

.el-pagination.is-background .btn-next,
.el-pagination.is-background .btn-prev,
.el-pagination.is-background .el-pager li {
  background-color: #fff;
}
.el-pagination .el-input .el-input__inner {
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.05);
  border-radius: 15px !important;
  overflow: hidden;
  border: none;
}

.el-form-item__label {
  font-weight: 400;
  color: #222c3d;
  font-size: 13px;
}

.el-table {
  font-size: 13px;
  color: #222c3d;
}

.el-table thead th {
  font-size: 13px;
  font-weight: 400 !important;
  color: #707d96;
  background: #f3f6fa !important;
  padding: 8px 0 !important;
}

.el-button--primary {
  background: linear-gradient(315deg, #3130f4 0%, #1378ff 100%);
  border-color: #1f5afa;
  // color: #fff !important;
}

// .el-dialog {
//   border-radius: 8px;
// }

// .el-dialog__header {
//   height: 48px;
//   box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.05);
//   border: none;
// }

.el-dialog__title {
  font-size: 16px;
  font-weight: 500;
  color: #222c3d;
}

.el-dialog__close {
  color: #c0c2cb;
}

.el-menu-item.is-active {
  font-size: 13px;
  font-weight: 400;
  color: #1f5afa;
}

.el-button--text {
  color: #1f5afa;
  border: none !important;
}

.el-radio-button__orig-radio:checked + .el-radio-button__inner {
  background: linear-gradient(315deg, #3130f4 0%, #1378ff 100%);
  border-color: #1f5afa;
}

.el-radio-button__inner:hover {
  color: #1f5afa;
}

.el-button--default {
  border-radius: 4px;
  border: 1px solid #1f5afa;
  color: #1f5afa;
}

.el-select-dropdown__item.selected {
  color: #1f5afa;
}

.el-select__popper.el-popper[role="tooltip"] {
  .el-select-dropdown__item {
    font-size: 13px;
  }
}

.el-pager li.active {
  color: #1f5afa;
}
